<p-toast [style]="{marginTop: '80px'}"></p-toast>
<ngx-loading [show]="loading"></ngx-loading>

<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col col-md-12 text-center">
                        <h1>Bodega de Productos</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-md-12">
                        <p-table [value]="source" dataKey="Id" editMode="row" [paginator]="true" [rows]="10" [first]="0" [lazy]="true" [responsive]="true" [totalRecords]="source.length">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Id</th>
                                    <th>Sucursal</th>
                                    <th>Operacion</th>
                                    <th>Producto</th>
                                    <th>Fecha Operación</th>
                                    <th>Cantidad</th>
                                    <th>Descripción</th>
                                    <!-- <th>Acción</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="rowData">
                                    <td>
                                        {{ rowData.Id }}
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="branches" [(ngModel)]="rowData.Sucursal" optionLabel="Nombre" styleClass="form-control"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ rowData.Sucursal.Nombre }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="operations" [(ngModel)]="rowData.Operacion" optionLabel="Nombre" styleClass="form-control"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ rowData.Operacion.Nombre }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="products" [(ngModel)]="rowData.Producto" optionLabel="Descripcion" styleClass="form-control"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ rowData.Producto.Descripcion }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="date" class="form-control" [(ngModel)]="rowData.FechaOperacion">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ rowData.FechaOperacion | date: 'dd/MM/yyyy' }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input class="form-control" type="number" [(ngModel)]="rowData.Cantidad">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ rowData.Cantidad }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input class="form-control" type="text" [(ngModel)]="rowData.Descripcion">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ rowData.Descripcion }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <!-- <td style="text-align:center">
                                        <button *ngIf="!editing" pButton type="button" pInitEditableRow class="btn btn-xs btn-outline-warning" (click)="onRowEditInit(rowData)"><i class="fa fa-pencil"></i></button>
                                        <button *ngIf="editing" pButton type="button" pSaveEditableRow class="btn btn-xs btn-outline-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"><i class="fa fa-check"></i></button>
                                        <button *ngIf="editing" pButton type="button" pCancelEditableRow class="btn btn-xs btn-outline-danger" (click)="onRowEditCancel(rowData, ri)"><i class="fa fa-close"></i></button>
                                    </td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <button type="button" class="btn btn-outline-info btn-block" (click)="mostrarModal(addItem)"><i class="fa fa-plus"></i> Nuevo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addItem>
    <div class="row">
        <div class="col col-md-12">
            <form [formGroup]="registerForm" (ngSubmit)="saveItem()" novalidate>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Agregar Marca</h3>
                    </div>
                    <div class="card-body">
                        <h4 *ngIf="msg" class="alert alert-danger alert-dismissible">
                            {{ msg }}
                            <span id="remove" class="fa fa-times pull-right" (click)="dismiss()"></span>
                        </h4>
                        <div class="row">
                            <div class="col col-md-12">
                                <label>Id (*)</label>
                                <input type="text" readonly="true" disabled="true" class="form-control" autocomplete="off" formControlName="Id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <label>Sucursal (*)</label>
                                <p-dropdown [options]="branches" optionLabel="Nombre" autoDisplayFirst="false" placeholder="- Seleccione uno -" formControlName="Sucursal" styleClass="form-control"></p-dropdown>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <label>Operación (*)</label>
                                <p-dropdown [options]="operations" optionLabel="Nombre" autoDisplayFirst="false" placeholder="- Seleccione uno -" formControlName="Operacion" styleClass="form-control"></p-dropdown>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <label>Producto (*)</label>
                                <p-dropdown [options]="products" optionLabel="Descripcion" autoDisplayFirst="false" placeholder="- Seleccione uno -" formControlName="Producto" styleClass="form-control"></p-dropdown>
                            </div>
                        </div>
                        <div class="row" style="display: none">
                            <div class="col col-md-12">
                                <label>Fecha Operación (*)</label>
                                <input type="date" class="form-control" autocomplete="off" formControlName="FechaOperacion">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <label>Cantidad (*)</label>
                                <input type="number" class="form-control" autocomplete="off" formControlName="Cantidad">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <label>Descripción (*)</label>
                                <input type="text" class="form-control" autocomplete="off" formControlName="Descripcion">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                <button [disabled]="loading" class="btn btn-info btn-block text-uppercase btn-rounded" type="submit">Grabar</button>
                            </div>
                            <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                <button (click)="dismissModal()" class="btn btn-danger btn-block text-uppercase btn-rounded" type="button">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>