<p-toast [style]="{marginTop: '80px'}"></p-toast>
<ngx-loading [show]="loading"></ngx-loading>

<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col col-md-12 text-center">
                        <h1>Reporte de Existencias</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="showReport()" novalidate>
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="row">
                                <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Fecha Desde (*)</label>
                                    <input type="date" class="form-control" autocomplete="off" formControlName="startDate">
                                </div>
                                <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Fecha Hasta (*)</label>
                                    <input type="date" class="form-control" autocomplete="off" formControlName="finishDate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Sucursal</label>
                                    <p-dropdown [options]="branches" optionLabel="Nombre" autoDisplayFirst="false" placeholder="- Seleccione uno -" formControlName="branch" styleClass="form-control"></p-dropdown>
                                </div>
                                <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Producto</label>
                                    <p-dropdown [options]="products" optionLabel="Nombre" autoDisplayFirst="false" placeholder="- Seleccione uno -" formControlName="product" styleClass="form-control"></p-dropdown>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <button [disabled]="loading" class="btn btn-info btn-block text-uppercase btn-rounded" type="submit">Mostrar</button>
                                </div>
                                <div class="col col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <button (click)="cancelReport()" class="btn btn-danger btn-block text-uppercase btn-rounded" type="button">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="col col-md-12">
                        <p-table #dt [value]="source" dataKey="Id" editMode="row" [paginator]="true" [rows]="10" [first]="0" [lazy]="true" [responsive]="true" [totalRecords]="source.length">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Sucursal</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                <tr>
                                    <td>{{ rowData.Sucursal.Nombre }}</td>
                                    <td>{{ rowData.Producto.Descripcion + ' Marca ' + rowData.Producto.Marca.Nombre + ' Color ' + rowData.Producto.Color.Nombre + ' Talla ' + rowData.Producto.Tamano }}</td>
                                    <td>{{ rowData.Cantidad }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>