<div class="row">
    <div class="col-6">
        <app-grafico-dona [Labels]="graficos.grafico1.labels" [Data]="graficos.grafico1.data" [CharType]="graficos.grafico1.type" [Leyenda]="graficos.grafico1.leyenda"></app-grafico-dona>
    </div>
    <div class="col-6">
        <app-grafico-dona [Labels]="graficos.grafico2.labels" [Data]="graficos.grafico2.data" [CharType]="graficos.grafico2.type" [Leyenda]="graficos.grafico2.leyenda"></app-grafico-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-grafico-dona [Labels]="graficos.grafico3.labels" [Data]="graficos.grafico3.data" [CharType]="graficos.grafico3.type" [Leyenda]="graficos.grafico3.leyenda"></app-grafico-dona>
    </div>
    <div class="col-6">
        <app-grafico-dona [Labels]="graficos.grafico4.labels" [Data]="graficos.grafico4.data" [CharType]="graficos.grafico4.type" [Leyenda]="graficos.grafico4.leyenda"></app-grafico-dona>
    </div>
</div>